*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: hsl(229, 24%, 87%);

  /* display: flex; */
  /* justify-content: center; */
}
.step-1 {
  display: flex;
  gap: 20px;
}
.step-1 h1 {
  background: skyblue;
  color: white;
  border-radius: 50px;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.step1 {
  line-height: 20px;
  font-size: 15px;
  margin-top: 5px;
}
.step1 h4 {
  color: rgb(179, 178, 178);
}
.step1 h3 {
  font-weight: 300;
  font-size: 20px;
  font-style: initial;
  color: white;
}
.step-2 {
  display: flex;
  gap: 20px;
}
.step-2 h1 {
  background: transparent;
  color: white;
  border-radius: 50px;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}
.step2 {
  line-height: 20px;
  font-size: 15px;
  margin-top: 5px;
}
.step2 h4 {
  color: rgb(179, 178, 178);
}
.step2 h3 {
  font-weight: 100;
  font-size: 17px;
  font-style: initial;
  color: white;
}
.bg-img {
  background-image: url(/asset/image/bg-sidebar-desktop.svg);
  /* height: 100%; */
  width: 35%;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
}
/* Desktop design */
.all {
  height: 85%;
  width: 70%;
  background-color: white;
  padding: 20px;
  gap: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.steps {
  padding: 18px;
}
.personal-info {
  margin-top: 40px;
  position: relative;
  background: white;
  height: 85%;
  width: 80%;
}
form {
  background: white;
}
.personal-info h1 {
  line-height: 40px;
  color: #172432;
}
span {
  display: flex;
  flex-direction: column;
}
.Name {
  margin-top: 30px;
  margin-bottom: 15px;
}
#name {
  width: 80%;
  height: 40px;
  padding: 7px;
  border-radius: 8px;
  background-color: white;
}
#email {
  width: 80%;
  height: 35px;
  padding: 7px;
  border-radius: 8px;
  outline: none;
  background-color: white;
}
.number {
  margin-top: 10px;
}
#numb {
  width: 80%;
  height: 35px;
  border-radius: 8px;
  padding: 7px;
  background-color: white;
}
.btn {
  background-color: #172432;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  text-align: center;
  padding: 10px 5px 0px 0px;
  margin-right: 40px;
}
.btn:hover {
  background: #307293;
  color: white;
}
.button {
  position: absolute;
  bottom: 10%;
  right: 21%;
}
/* mobile Design */
@media screen and (max-width: 480px) {
  body {
    width: 100%;
    min-height: 100vh;
  }
  .all {
    margin-left: -38px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }
  .steps {
    display: flex;
    height: 18vh;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .bg-img {
    background-image: url(/asset/image/bg-sidebar-mobile.svg);
    height: 25%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    border-radius: 0;
    top: 5px;
  }
  .step1 {
    display: none;
  }
  .step2 {
    display: none;
  }
  .personal-info {
    width: 80%;
    justify-content: center;
    margin: 0 10%;
    margin-top: -25px;
    padding: 10% 5%;
    border-radius: 5px;
    position: absolute;
    top: 23%;
    align-items: center;
  }
  .button {
    justify-content: center;
    position: fixed;
  }
  .button {
    position: absolute;
    bottom: -20%;
    right: -1%;
  }
  .step-1 h1 {
    width: 35px;
    height: 35px;
    font-size: 24px;
    color: black;
    font-weight: 200;
    margin-top: -20px;
  }
  .step-2 h1 {
    width: 35px;
    height: 35px;
    font-size: 24px;
    color: black;
    font-weight: 200;
    margin-top: -20px;
    justify-content: center;
  }
  .personal-info {
    background: white;
    height: 65%;
  }
}
